.login-form {
  width: 300px;
}
.login-form-forgot {
  float: left;
  text-decoration-style: none;
}
.login-form-button {
  width: 100%;
}

.main-container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
